.gp-text-editor {
  width: 100%;
  min-height: 250px;
  text-decoration: none;
}

.gp-text-editor:focus {
  outline: none;
}

.gpbeij-image-form {
  display: none;
  transition: 0.5s;
}

.gpbeij-image-form.show {
  display: inline-block;
  transition: 0.5s;
}

.gpbeij-image-form input {
  margin: 5px;
  background: #007ced;
  color: white;
  outline: none;
  border: none;
  padding: 5px 10px;
}

.gpbeij-image-form input::placeholder {
  color: #F5F5F5;
  opacity: 0.7;
}

.gpbeij-image-form input:hover {
  background: #00c1ed;
}

.gp-editor-tag {
  background: #007ced;
  padding: 1px 3px;
  border-radius: 3px;
  margin-right: 1px;
  margin-left: 1px;
}

.gp-editor-tag:hover {
  cursor: pointer;
}

.btn-b-editor {
  margin: 5px;
  background: #007ced;
  color: white;
  outline: none;
  border: none;
  padding: 5px 10px;
}

.btn-b-editor:hover {
  cursor: pointer;
  background: #00c1ed;
}

#gp-textarea {
  background-blend-mode: multiply, multiply, normal, normal;
  background-color: #772953;
  background-image: linear-gradient(to bottom left, rgba(119, 41, 83, 0.16) 0, rgba(119, 41, 83, 0.16) 49.9%, transparent 50%), linear-gradient(to bottom right, rgba(228, 228, 228, 0.5) 0, rgba(228, 228, 228, 0.5) 49.9%, transparent 50%), linear-gradient(to top left, #585858 0%, #404040 49.3%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(-89deg, #353535 0%, #4a4a4a 42%, #3c3c3c 94%);
  padding: 20px 10px;
}